/*
============================================
; Title:  site.css
; Author: Diandra McKenzie
; Date:   20 January 2020
; Description: Global styling for week's 7 through 9
;===========================================
*/

/*styling for navigation bar*/
.topbar {
  background-color: plum;
  overflow: hidden;
  height: 20px;
  margin-bottom: 20px;
}

/*styling for body of html*/
body{
  font-family: 'Roboto', sans-serif;
  font-weight: 300, 400, 500;
  margin-left: 20px;
}

ul li {
  list-style: none;
  margin: 0 auto;
}

h3:hover{
color: purple;
}

.para1 {
  

}
table {
  text-align: center;
  border-collapse: collapse;
  
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

th {
  background-color: purple;
  color: white;
}

tr:nth-child(even) {
  background-color: pink;
}

#employee tbody tr:hover {
  cursor: pointer;
  background-color: #ffff99;
}
